
//цвета

$mylove: maroon
$cite-color-one: #30282f
$cite-color-two: #70616c
$cite-color-theree: #dace8c
$cite-color-four: #7bd74a
$cite-color: #289900

//шрифты

$font: 14px
$font-family: sans-serif
$Shrikhand: 'Shrikhand', cursive

body
    margin: 0
    padding: 0

//--------HEADER--------//

.header
    height: 70px
    border-top: 3px solid #0c6119
    border-bottom: 3px solid #0c6119
    display: grid
    grid-template-columns: minmax(140px, 200px) minmax(400px, auto) minmax(150px, 200px)
    grid-template-rows: 70px
    .logo_wrapper
        height: auto
        max-width: 100px
        span
            img 
                margin-left: 20px   
                height: 70px
                width: 140px
    .nav_wrapper
        height: 70px
        ul
            height: 70px
            padding: 0
            margin: 0
            display: grid
            grid-template-columns: repeat(5, 120px) 
            grid-column-gap: 20px
            li 
                line-height: 4.7em
                list-style: none
                a:first-child
                    clear: both
                a:last-child
                    padding-right: 39px      
                a       
                    padding-left: 39px 
                    text-decoration: none
                    color: black  
                    font-family: $Shrikhand 
                    font-style: italic
                    font-weight: bold
    .icon_wrap

        span 
            display: grid
            justify-items: right   
            img 
                width: 40px
                height: 40px
                padding: 15px
                           


        



